html,
body {
	height: 100%;
}

body {
	background-image: url('../images/background.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.keys {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.key {
	border: 2px solid white;
	padding: 20px;
	width: 40px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.07s;
	background: rgba(0, 0, 0, 0.4);
}

.playing {
	transform: scale(1.1);
	border-color: orange;
	box-shadow: 0, 0, 10px black;
}

.key kbd {
	font-size: 30px;
}

.sound {
	text-transform: uppercase;
	font-size: 12px;
}
